projects/sales/__pycache__/data_io.cpython-312.pyc
projects/sales/data/Online_Retail.xlsx
projects/sales/data/report_metadata
Testing/unit_testing/test/__pycache__/test_calculator.cpython-312-pytest-8.3.3.pyc
.vscode/settings.json
